{% extends "layout.html" %}

{% block content %}

<div class="row">
    <script>
$(document).ready(function(){
    var space = 1;
    for (var r = 0; r < 8; r++) {
        var col = "";
        for (var c = 0; c < 8; c++) { col += "<td data-pos='" + space + "'></td>"; space++; }
        $("#chessboard").append("<tr>" + col + "</tr>");
    }
});
    </script>
    <div class="column"><img src="/static/chessboard.jpg" style="width:600px;height:600px" /></div>
    <div class="column">
        <table id='chessboard'></table>
    </div>
</div>

{% endblock %}
